@charset "UTF-8";

@font-face {
    font-family: 'Serifada';
    src: url('fontes/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face{
    font-family: 'outfit';
    src:url('fontes/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-size: normal;
    font-weight: normal;
}

:root {
    --cor1: #8d503b;
    --cor2: #732e4a;
}

body{
    background-color: #f3e5d8;
}

main{
    background-color: #ffffff;

    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;

    padding: 20px;
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

h2 {
    color: var(--cor1);
}

h1, h2{
    font-family: 'Serifada';
}

p{
    font-family: 'outfit';
}

section {
    background-color: #fff7fc;

    padding: 20px;
    border-radius: 15px;
}

section > p{
    margin: 0px;
    margin-bottom: 5px;

    color: var(--cor2);
    font-weight: bold;
}

section > ul {
    margin: 0px;
}

li{
    padding-left: 10px;
}

ol li::marker {
    font-weight: 900;
}

li > strong {
    color: grey;
}

li::marker{
    color: var(--cor1);
}

section  li::marker{
    color: var(--cor2);
}